<!DOCTYPE html>
<html>
<head>
	<title>Next Episode api</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<nav id='nav_group'>
	<a href="/" ><i class="material-icons md-light md-48">swap_horiz</i></a>

	<a data-toggle="collapse" data-target="#deleteUser" role="button" aria-expanded="false" aria-controls="deleteUser">
		<i class="material-icons md-light md-48">account_circle</i>
	</a>

	<a data-toggle="collapse" data-target="#searchShow" role="button" aria-expanded="false" aria-controls="searchShow">
		<i class="material-icons md-light md-48">add_circle_outline</i>
	</a>
	<div class='accordion-group'>
		<div class="collapse" id="deleteUser" data-parent="#nav_group">
			<form method="post" action="delete" id='delete'>
				<input type="hidden" name="user" value="<%=user%>">
			</form>
			<button type='submit' form='delete' value='submit' class='button_basic red'>REMOVE USER</button>

		</div>
		<div class="collapse" id="searchShow" data-parent="#nav_group">
			<form class='form_grid' method="get" action="search">
				<div></div>
				<input class='search_bar' type="text" name="searchname" placeholder="Search a Show...">
				<input type="hidden" name="user" value="<%=user%>">
				<input type="hidden" name="page" value="1">
				<button class='search_button'><i class="material-icons md-light md-48">search</i></button>
			</form>
		</div>
	</div>
</nav>
<body>
	<div class="content_section coming_next">
		<p class='section_title'>COMING UP</p>
		<%
		if(shows !== null){%>
		<%-include('show_w_pic',{shows: shows}) %>
		<%}%>
	</div>
	<div class="content_section running">
		<p class='section_title'>AIRING SOON</p>
		<%
		if(shows !== null){
			for(show in shows){
				if(shows[show]['air_date'] != null){
					%>
					<%-include('airing',{my_show: shows[show]}) %>
					<%;
				}
			}
		}%>
	</div>
	<div class="content_section unavailable">
		<p class='section_title'>UNAVAILABLE</p>
		<%
		if(shows !== null){
			for(show in shows){
				if(shows[show]['air_date'] == null){
					%>
					<%-include('not_airing',{my_show: shows[show]}) %>
					<%;
				}
			}
		}%>
	</div>

	<!-- <div class = "searchbar">
		<form method="get" action="search">
			Search Series<input type="text" name="searchname"
			value='<%if(search !== null)%><%=search%>'>
			Page number<input type="number" name="page"
			value=<%if(page !== null){%>
			<%=page%>
			<%}else{%>
			<%='1'%>
			<%}%>>
			<input type="submit" value="Search" class="aButton">
			<input type="hidden" name="user" value="<%=user%>">
		</form>
	</div>

	<div class="searches">
		<%if(results !== null){
			for(show in results){%>
			<div class="showsSearch" onclick="add(<%=results[show]+",this"%>)">
				<%=show%>	
			</div>
			<%}
		}%>
	</div>
	<div id="selectedSearch">
		<form method="post" id='searchListForm' action="save">
			<input type="submit" value="Add" class="aButton">
			<input type="hidden" name="user" value="<%=user%>">
		</form>

	</div>
	<div class = "removefromlist">
		<form id="removeme" method="post" action="remove" onsubmit="return confirm('Are you sure you want to delete these');">
			<input type="submit" value="Remove" class="aButton">
			<input type="hidden" name="user" value="<%=user%>">
		</form>
	</div> -->
	<script type="text/javascript">
		// function add(id,element){
		// 	var exist = document.getElementById(id)
		// 	if(!exist){
		// 		var form = document.getElementById("searchListForm")
		// 		var views = document.getElementById("selectedSearch")
		// 		views.style.display = 'block'
		// 		var elem = document.createElement("input")
		// 		elem.name = "selected"
		// 		elem.type = "hidden"
		// 		elem.value = id
		// 		elem.id = id
		// 		form.appendChild(elem);
		// 		var newitem = document.createElement("p")
		// 		newitem.id = "show"+id
		// 		newitem.innerHTML = element.innerHTML
		// 		newitem.addEventListener('click',function(){
		// 			var form = document.getElementById("searchListForm")
		// 			var views = document.getElementById("selectedSearch")
		// 			var elem = document.getElementById(id)
		// 			var newitem = document.getElementById("show"+id)
		// 			form.removeChild(elem)
		// 			views.removeChild(newitem)
		// 		});
		// 		views.appendChild(newitem)
		// 	}
		// }
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>